{{ if and (lookPath "tmux" }}
{{ if le (semver "3.0" | (semver (output "tmux" "-V" | replaceAllRegex "(tmux|[a-z])" "" | trim)).Compare) 0 }}
# for tmux >= 3.0

# change prefix
set -g prefix C-g
unbind C-b  # disable default

# pane keybind
## new mode: NAVIGATOR
### for nonoverwrite C-h backspace to move pane
### https://qiita.com/izumin5210/items/d2e352de1e541ff97079
bind -n C-w switch-client -T NAVIGATOR
bind -T NAVIGATOR C-w send-keys C-w  # for vim
## move pane
### Smart pane switching with awareness of Vim splits.
### See: https://github.com/christoomey/vim-tmux-navigator
is_vim="ps -o state= -o comm= -t '#{pane_tty}' \
    | grep -iqE '^[^TXZ ]+ +(\\S+\\/)?g?(view|n?vim?x?)(diff)?$'"
bind -T NAVIGATOR h if-shell "$is_vim" 'send-keys C-h'  'select-pane -L'
bind -T NAVIGATOR j if-shell "$is_vim" 'send-keys C-j'  'select-pane -D'
bind -T NAVIGATOR k if-shell "$is_vim" 'send-keys C-k'  'select-pane -U'
bind -T NAVIGATOR l if-shell "$is_vim" 'send-keys C-l'  'select-pane -R'
## resize pane
bind -r H resize-pane -L 10
bind -r J resize-pane -D 10
bind -r K resize-pane -U 10
bind -r L resize-pane -R 10


# status line view
## enable 256 color
set-option -g default-terminal screen-256color
set -g terminal-overrides 'xterm:colors=256'
## change color
setw -g status-style fg=colour255,bg=colour234
## disable status-left/right
set -g status-left ""
set -g status-right ""
## aligne right
set -g status-justify right
## change window status view
setw -g window-status-current-format '#[bg=colour2,fg=colour255]#{?client_prefix,#[reverse],} #I #W '
setw -g window-status-format '#[fg=colour242] #I #W '
## change window number origin 0 to 1
set -g base-index 1

# visual/clip
setw -g mode-keys vi
## change keybind like vi
bind-key -T copy-mode-vi v send-keys -X begin-selection
{{ if lookPath "clip.exe" -}}
bind-key -T copy-mode-vi y send-keys -X copy-pipe-and-cancel "clip.exe"
bind-key -T copy-mode-vi Enter send-keys -X copy-pipe-and-cancel "clip.exe"
{{ else -}}
bind-key -T copy-mode-vi y send-keys -X copy-pipe-and-cancel "pbcopy"
bind-key -T copy-mode-vi Enter send-keys -X copy-pipe-and-cancel "pbcopy"
{{ end }}

bind-key -T copy-mode-vi C-v send-keys -X rectangle-toggle
bind-key -T copy-mode-vi C-[ send-keys -X clear-selection

# misc
## disable login shell, for disable loading .profile
## see: https://wiki.archlinux.jp/index.php/Tmux
set -g default-command "${SHELL}"
## enable mouse
set-option -g mouse on
## prefix+r for reload .tmux.conf
bind r source-file ~/.tmux.conf \; display "Reloaded!"
{{ if lookPath "code" -}}
## code
set-option -ga update-environment ' VSCODE_GIT_ASKPASS_NODE VSCODE_GIT_ASKPASS_MAIN VSCODE_IPC_HOOK_CLI PATH GIT_ASKPASS'
{{ end }}

{{ end }}
{{ end }}