#!/usr/bin/env bash

# set -e

. $HOME/.local/bin/my_own/_log
. $HOME/.local/bin/my_own/_gather_facts

print_script_info

. $HOME/.asdf/asdf.sh

{{ if not (lookPath "node") -}}
# install node, npm
asdf plugin-add nodejs || true
asdf install nodejs 16.17.0
asdf global nodejs 16.17.0
{{ end -}}
##############################################################################
# npm documentation tools
##############################################################################
npm install -g \
   textlint-ja/textlint-rule-no-synonyms@^1.1.0 \
   sudachi-synonyms-dictionary@^6.0.0 \
   textlint@^11.7.6 \
   textlint-filter-rule-allowlist@^2.0.1 \
   textlint-filter-rule-comments@^1.2.2 \
   textlint-plugin-review@^0.4.1 \
   textlint-rule-abbr-within-parentheses@^1.0.2 \
   textlint-rule-general-novel-style-ja@^1.3.0 \
   textlint-rule-incremental-headers@^0.2.0 \
   textlint-rule-ja-hiragana-fukushi@^1.2.0 \
   textlint-rule-ja-hiragana-hojodoushi@^1.0.4 \
   textlint-rule-ja-hiragana-keishikimeishi@^1.0.2 \
   textlint-rule-ja-unnatural-alphabet@^2.0.1 \
   textlint-rule-max-appearence-count-of-words@^1.0.1 \
   textlint-rule-no-empty-section@^1.1.0 \
   textlint-rule-no-mixed-zenkaku-and-hankaku-alphabet@^1.0.1 \
   textlint-rule-period-in-list-item@^0.3.2 \
   textlint-rule-prefer-tari-tari@^1.0.3 \
   textlint-rule-preset-icsmedia@github:ics-creative/textlint-rule-preset-icsmedia \
   textlint-rule-preset-ja-spacing@^2.0.2 \
   textlint-rule-preset-ja-technical-writing@^4.0.1 \
   textlint-rule-preset-japanese@^5.0.0 \
   textlint-rule-preset-jtf-style@^2.3.6 \
   textlint-rule-prh@^5.3.0 \
   textlint-rule-spellcheck-tech-word@^5.0.0 \
   textlint-rule-use-si-units@^1.0.0 \
   textlint-rule-write-good@^1.6.2

log_success "$0 done."
