#!/usr/bin/env bash

# set -e

. $HOME/.local/bin/my_own/_log
. $HOME/.local/bin/my_own/_gather_facts

print_script_info

. $HOME/.asdf/asdf.sh

# install node, npm
asdf plugin-add nodejs || true
asdf install nodejs 16.17.0
asdf global nodejs 16.17.0
##############################################################################
# npm cli tools
##############################################################################
# On proxy, requires export ELECTRON_GET_USE_PROXY=true.
# Use proxy_switch or set manually
npm install -g \
  tmpin \
  trash-cli empty-trash-cli \
  jjo \
  xlsx-cli \
  json2csv \
  jsondiffpatch \
  daff \
  nb.sh \
  git-cz \
  standard-version \
  undollar \
  csv2md \
  gtop \
  wsl-open

# This fails on Ubuntu 14.04, or no proxy
npm install -g \
  terminalizer 

##############################################################################
# python cli tools
##############################################################################
eval $(get_package_management_method)
eval $(get_escalation_method) $_facts_install python3 python3-distutils 1>/dev/null
if [ "$(command -v python3)" ]; then
  curl -sL https://bootstrap.pypa.io/get-pip.py | python3
  python3 -m pip install --force \
    setuptools
  python3 -m pip install \
    tmuxp \
    csvkit \
    thefuck \
    httpie \
    http-prompt
fi

##############################################################################
# other cli tools
##############################################################################
eval $(get_package_management_method)
eval $(get_escalation_method) $_facts_install \
  xdg-utils \
  neofetch \
  1>/dev/null

log_success "$0 done."

