#!/bin/bash

set -e

declare -A versions=(
        ["asdf"]="v0.10.2"
        ["chezmoi"]="latest"
        ["direnv"]="latest"
        ["bat"]="latest"
        ["ripgrep"]="latest"
        ["exa"]="latest"
        ["zoxide"]="latest"
        ["delta"]="latest"
        ["starship"]="latest"
        ["fd"]="latest"
        ["fzf"]="latest"
        ["ghq"]="latest"
        ["github-cli"]="latest"
        ["gojq"]="latest"
        ["watchexec"]="latest"
        ["navi"]="v2.20.1"
)

# install prerequisite packages
. $HOME/.local/bin/my_own/_gather_facts
eval $(get_package_management_method)
set +e; eval $(get_escalation_method) $_facts_update 1>/dev/null ; set -e
{{ if or (eq "debian" .chezmoi.osRelease.id) (and (.chezmoi.osRelease.idLike) (contains "debian" .chezmoi.osRelease.idLike)) }}
export DEBCONF_NOWARNINGS=yes
eval $(get_escalation_method) $_facts_install bash curl tar gzip unzip xz-utils 1>/dev/null
{{ else if contains "centos" .chezmoi.osRelease.idLike }}
if [ -x "$(command -v amazon-linux-extras)" ]; then eval $(get_escalation_method) amazon-linux-extras install epel
else eval $(get_escalation_method) $_facts_install epel-release; fi
eval $(get_escalation_method) $_facts_install bash curl tar gzip unzip xz 1>/dev/null
{{ end }}


# install asdf
if [ ! -x "$(command -v asdf)" ] && [ ! -e "$HOME/.asdf" ]; then
  git clone --depth=1 https://github.com/asdf-vm/asdf.git $HOME/.asdf -b ${versions["asdf"]}
fi
. $HOME/.asdf/asdf.sh

# chezmoi
asdf plugin add chezmoi || true
asdf install chezmoi ${versions["chezmoi"]}
asdf global chezmoi ${versions["chezmoi"]}

# dienv
asdf plugin-add direnv || true
asdf direnv setup --shell bash --version ${versions["direnv"]}
asdf global direnv ${versions["direnv"]}

# bat
asdf plugin add bat || true
asdf install bat ${versions["bat"]}
asdf global bat ${versions["bat"]}

# ripgrep
asdf plugin add ripgrep || true
asdf install ripgrep ${versions["ripgrep"]}
asdf global ripgrep ${versions["ripgrep"]}

# exa
asdf plugin add exa || true
asdf install exa ${versions["exa"]}
asdf global exa ${versions["exa"]}

# zoxide
asdf plugin add zoxide https://github.com/nyrst/asdf-zoxide.git || true
asdf install zoxide ${versions["zoxide"]}
asdf global zoxide ${versions["zoxide"]}

# delta
asdf plugin add delta || true
asdf install delta ${versions["delta"]}
asdf global delta ${versions["delta"]}

# starship
asdf plugin add starship || true
asdf install starship ${versions["starship"]}
asdf global starship ${versions["starship"]}

# fd
asdf plugin add fd || true
asdf install fd ${versions["fd"]} 1>/dev/null
asdf global fd ${versions["fd"]}

# fzf
asdf plugin add fzf https://github.com/kompiro/asdf-fzf.git || true
asdf install fzf ${versions["fzf"]}
asdf global fzf ${versions["fzf"]}
# fzf-tab-completion
mkdir -p $HOME/.local/share/fzf
curl --silent -o $HOME/.local/share/fzf/fzf-bash-completion.sh https://raw.githubusercontent.com/lincheney/fzf-tab-completion/master/bash/fzf-bash-completion.sh

# ghq
asdf plugin-add ghq https://github.com/kajisha/asdf-ghq || true
asdf install ghq ${versions["ghq"]} || true
asdf global ghq ${versions["ghq"]} || true

# github-cli
asdf plugin-add github-cli https://github.com/bartlomiejdanek/asdf-github-cli.git || true
asdf install github-cli ${versions["github-cli"]} 1>/dev/null
asdf global github-cli ${versions["github-cli"]}

# gojq
asdf plugin-add jq https://github.com/jimmidyson/asdf-gojq.git || true
asdf install jq ${versions["gojq"]}
asdf global jq ${versions["gojq"]}

# watchexec
asdf plugin add watchexec https://github.com/nyrst/asdf-watchexec.git || true
asdf install watchexec ${versions["watchexec"]}
asdf global watchexec ${versions["watchexec"]}

# navi
curl -L https://github.com/denisidoro/navi/releases/download/${versions["navi"]}/navi-${versions["navi"]}-x86_64-unknown-linux-musl.tar.gz | tar xz -C $HOME/.local/bin/

