#!/usr/bin/env bash

set -e

# see: https://stackoverflow.com/questions/16843382/colored-shell-script-output-library

## Enable our easy to read Colour Flags as long as --no-colors hasn't been passed or the NO_COLOR Env Variable is set.
## NOTE: the NO_COLOR env variable is from: https://no-color.org/
if [ -z "${NO_COLOR}" ]; then
  ESeq="\x1b["
  # Set up our Colour Holders.
  ResetColor="$ESeq"'0m'    # Text Reset
  Bold="$ESeq"'1m';    Underline="$ESeq"'4m'
  # Regular              Bold                        Underline                       High Intensity
  Black="$ESeq"'0;30m';  BoldBlack="$ESeq"'1;30m';   UnderlineBlack="$ESeq"'4;30m';  IntenseBlack="$ESeq"'0;90m';
  Red="$ESeq"'0;31m';    BoldRed="$ESeq"'1;31m';     UnderlineRed="$ESeq"'4;31m';    IntenseRed="$ESeq"'0;91m';
  Green="$ESeq"'0;32m';  BoldGreen="$ESeq"'1;32m';   UnderlineGreen="$ESeq"'4;32m';  IntenseGreen="$ESeq"'0;92m';
  Yellow="$ESeq"'0;33m'; BoldYelllow="$ESeq"'1;33m'; UnderlineYellow="$ESeq"'4;33m'; IntenseYellow="$ESeq"'0;93m';
  Blue="$ESeq"'0;34m';   BoldBlue="$ESeq"'1;34m';    UnderlineBlue="$ESeq"'4;34m';   IntenseBlue="$ESeq"'0;94m';
  Purple="$ESeq"'0;35m'; BoldPurple="$ESeq"'1;35m';  UnderlinePurple="$ESeq"'4;35m'; IntensePurple="$ESeq"'0;95m';
  Cyan="$ESeq"'0;36m';   BoldCyan="$ESeq"'1;36m';    UnderlineCyan="$ESeq"'4;36m';   IntenseCyan="$ESeq"'0;96m';
  White="$ESeq"'0;37m';  BoldWhite="$ESeq"'1;37m';   UnderlineWhite="$ESeq"'4;37m';  IntenseWhite="$ESeq"'0;97m';
  #Bold High Intensity                Background              High Intensity Backgrounds
  BoldIntenseBlack="$ESeq"'1;90m';    OnBlack="$ESeq"'40m';   OnIntenseBlack="$ESeq"'0;100m';
  BoldIntenseRed="$ESeq"'1;91m';      OnRed="$ESeq"'41m';     OnIntenseRed="$ESeq"'0;101m';
  BoldIntenseGreen="$ESeq"'1;92m';    OnGreen="$ESeq"'42m';  OnIntenseGreen="$ESeq"'0;102m';
  BoldIntenseYellow="$ESeq"'1;93m';   OnYellow="$ESeq"'43m';  OnIntenseYellow="$ESeq"'0;103m';
  BoldIntenseBlue="$ESeq"'1;94m';     OnBlue="$ESeq"'44m';    OnIntenseBlue="$ESeq"'0;104m';
  BoldIntensePurple="$ESeq"'1;95m';   OnPurple="$ESeq"'45m';  OnIntensePurple="$ESeq"'0;105m';
  BoldIntenseCyan="$ESeq"'1;96m';     OnCyan="$ESeq"'46m';    OnIntenseCyan="$ESeq"'0;106m';
  BoldIntenseWhite="$ESeq"'1;97m';    OnWhite="$ESeq"'47m';   OnIntenseWhite="$ESeq"'0;107m';
fi

#
# color log.
# log_(success|error|warning|note) uses stdout(color) only
# logger_(success|error|warning|note) uses stdout(color) and syslog(no-color)
_log() {
   __template="$1"
   shift
   echo "$(printf "$__template" "$@")" >&2
   unset __template
}

log_success() {  _log "$Green✔ %s$ResetColor\n" "$@"; }
log_error() {    _log "$Red✖ %s$ResetColor\n" "$@"; }
log_warning() {  _log "$Yellow➜ %s$ResetColor\n" "$@"; }
log_note() {     _log "$Blue%s$ResetColor\n" "$@"; }

logger_success() {  _log "$Green✔ %s$ResetColor\n" "$@";  logger -p user.info "$@"; }
logger_error() {    _log "$Red✖ %s$ResetColor\n" "$@";    logger -p user.err "$@"; }
logger_warning() {  _log "$Yellow➜ %s$ResetColor\n" "$@"; logger -p user.warning "$@"; }
logger_note() {     _log "$Blue%s$ResetColor\n" "$@";      logger -p user.notice "$@"; }


#######################################
# get escalation method(sudo, or su) if needed
# Arguments:
#   None
# Returns:
#   0
# Outputs:
#   Write method("sudo~", "su~", or "") to stdout
# Details:
#   If root, write empty("").
#   If non root, delegate environments (sudo -E).
#######################################
get_escalation_method() {
  if [ "$(whoami)" != "root" ]; then
    if [ -x "$(command -v sudo)" ]; then echo "sudo -S -E"
    elif [ -x "$(command -v su)" ]; then echo "su - -c"; fi
  fi
}


#######################################
# get package management method information
# Arguments:
#   None
# Returns:
#   0 is ok
#   1 is error. can't parse package manager.
# Outputs:
#   Write space-separated variable-like string("A=a; B=b;") to stdout
#     _facts_manager=(apt|yum|dnf|zypper|apk)
#     _facts_install=(apt-get install|yum install|dnf~|zypper~|apk~)
#     _facts_update=(apt-get update|yum check-update|dnf~|zypper~|apk~)
# Details:
#   use stdout with eval.
#   e.g. eval $(get_package_manager); eval $_facts_install git
#   see: https://stackoverflow.com/questions/2488715/idioms-for-returning-multiple-values-in-shell-scripting
#######################################
get_package_management_method () {
  if [ -x "$(command -v apt-get)" ];    then  echo "_facts_manager=\"apt\";       _facts_install=\"DEBIAN_FRONTEND=noninteractive apt-get install -y\";     _facts_update=\"apt-get update\" "
  elif [ -x "$(command -v yum)" ];      then  echo "_facts_manager=\"yum\";       _facts_install=\"yum install -y\";         _facts_update=\"yum check-update\" "
  elif [ -x "$(command -v dnf)" ];      then  echo "_facts_manager=\"dnf\";       _facts_install=\"dnf install -y\";         _facts_update=\"dnf check-update\" "
  elif [ -x "$(command -v microdnf)" ]; then  echo "_facts_manager=\"microdnf\";  _facts_install=\"microdnf install -y\";    _facts_update=\"microdnf update\" "
  elif [ -x "$(command -v zypper)" ];   then  echo "_facts_manager=\"zypper\"     _facts_install=\"zypper install -y\";      _facts_update=\"zypper refresh\" "
  elif [ -x "$(command -v apk)" ];      then  echo "_facts_manager=\"apk\";       _facts_install=\"apk add --no-cache\";     _facts_update=\"apk update\" "
  else return 1
  fi
}


declare -A versions=(
        ["asdf"]="v0.10.2"
        ["chezmoi"]="latest"
        ["direnv"]="latest"
        ["bat"]="latest"
        ["ripgrep"]="latest"
        ["exa"]="latest"
        ["zoxide"]="latest"
        ["delta"]="latest"
        ["starship"]="latest"
        ["fd"]="latest"
        ["fzf"]="latest"
        ["ghq"]="latest"
        ["github-cli"]="latest"
        ["gojq"]="latest"
        ["watchexec"]="latest"
        ["navi"]="v2.20.1"
        ["neovim"]="stable"
)

print_script_info

{{ if and (not (lookPath "asdf")) (not (stat (joinPath .chezmoi.homeDir ".asdf"))) -}}
# install asdf
if [ ! -x "$(command -v asdf)" ] && [ ! -e "$HOME/.asdf" ]; then
  git clone --depth=1 https://github.com/asdf-vm/asdf.git $HOME/.asdf -b ${versions["asdf"]}
fi
{{ end -}}
. $HOME/.asdf/asdf.sh

{{ if not (lookPath "chezmoi") -}}
# chezmoi
asdf plugin add chezmoi || true
asdf install chezmoi ${versions["chezmoi"]}
asdf global chezmoi ${versions["chezmoi"]}
{{ end -}}

{{ if not (lookPath "direnv") -}}
# dienv
asdf plugin-add direnv || true
asdf direnv setup --shell bash --version ${versions["direnv"]}
asdf global direnv ${versions["direnv"]}
{{ end -}}

{{ if not (lookPath "bat") -}}
# bat
asdf plugin add bat || true
asdf install bat ${versions["bat"]}
asdf global bat ${versions["bat"]}
{{ end -}}

{{ if not (lookPath "rg") -}}
# ripgrep
asdf plugin add ripgrep || true
asdf install ripgrep ${versions["ripgrep"]}
asdf global ripgrep ${versions["ripgrep"]}
{{ end -}}

{{ if not (lookPath "exa") -}}
# exa
asdf plugin add exa || true
asdf install exa ${versions["exa"]}
asdf global exa ${versions["exa"]}
{{ end -}}

{{ if not (lookPath "zoxide") -}}
# zoxide
asdf plugin add zoxide https://github.com/nyrst/asdf-zoxide.git || true
asdf install zoxide ${versions["zoxide"]}
asdf global zoxide ${versions["zoxide"]}
{{ end -}}

{{ if not (lookPath "delta") -}}
# delta
asdf plugin add delta || true
asdf install delta ${versions["delta"]}
asdf global delta ${versions["delta"]}
{{ end -}}

{{ if not (lookPath "starship") -}}
# starship
asdf plugin add starship || true
asdf install starship ${versions["starship"]}
asdf global starship ${versions["starship"]}
{{ end -}}

{{ if not (lookPath "fd") -}}
# fd
asdf plugin add fd || true
asdf install fd ${versions["fd"]} 1>/dev/null
asdf global fd ${versions["fd"]}
{{ end -}}

{{ if not (lookPath "fzf") -}}
# fzf
asdf plugin add fzf https://github.com/kompiro/asdf-fzf.git || true
asdf install fzf ${versions["fzf"]}
asdf global fzf ${versions["fzf"]}
# fzf-tab-completion
mkdir -p $HOME/.local/share/fzf
curl --silent -o $HOME/.local/share/fzf/fzf-bash-completion.sh https://raw.githubusercontent.com/lincheney/fzf-tab-completion/master/bash/fzf-bash-completion.sh
{{ end -}}

{{ if not (lookPath "ghq") -}}
# ghq
asdf plugin-add ghq https://github.com/kajisha/asdf-ghq || true
asdf install ghq ${versions["ghq"]} || true
asdf global ghq ${versions["ghq"]} || true
{{ end -}}

{{ if not (lookPath "gh") -}}
# github-cli
asdf plugin-add github-cli https://github.com/bartlomiejdanek/asdf-github-cli.git || true
asdf install github-cli ${versions["github-cli"]} 1>/dev/null
asdf global github-cli ${versions["github-cli"]}
{{ end -}}

{{ if not (lookPath "gojq") -}}
# gojq
asdf plugin-add jq https://github.com/jimmidyson/asdf-gojq.git || true
asdf install jq ${versions["gojq"]}
asdf global jq ${versions["gojq"]}
{{ end -}}

{{ if not (lookPath "watchexec") -}}
# watchexec
asdf plugin add watchexec https://github.com/nyrst/asdf-watchexec.git || true
asdf install watchexec ${versions["watchexec"]}
asdf global watchexec ${versions["watchexec"]}
{{ end -}}

{{ if not (lookPath "navi") -}}
# navi
curl -L https://github.com/denisidoro/navi/releases/download/${versions["navi"]}/navi-${versions["navi"]}-x86_64-unknown-linux-musl.tar.gz | tar xz -C $HOME/.local/bin/
{{ end -}}

{{ if not (lookPath "nvim") -}}
# neovim
asdf plugin add neovim || true
asdf install neovim ${versions["neovim"]}
asdf global neovim ${versions["neovim"]}
{{ end -}}

{{ if not (lookPath "tmux") -}}
# gather facts
eval $(get_package_management_method)
set +e; eval $(get_escalation_method) $_facts_update 1>/dev/null ; set -e
eval $(get_escalation_method) $_facts_install tmux 1>/dev/null
{{ end -}}

log_success "$0 done."
