#!/bin/sh

set -e

. $HOME/.local/bin/my_own/_gather_facts

# gather facts
eval $(get_package_management_method)
set +e; eval $(get_escalation_method) $_facts_update 1>/dev/null ; set -e

# install
{{ if or (eq "debian" .chezmoi.osRelease.id) (and (.chezmoi.osRelease.idLike) (contains "debian" .chezmoi.osRelease.idLike)) }}
echo "Platform: debian" >2
export DEBCONF_NOWARNINGS=yes
eval $(get_escalation_method) $_facts_install bash tar gzip unzip xz-utils 1>/dev/null
{{ else if contains "centos" .chezmoi.osRelease.idLike }}
echo "Platform: centos" >2
if [ -x "$(command -v amazon-linux-extras)" ]; then
  eval $(get_escalation_method) amazon-linux-extras install epel
else
  eval $(get_escalation_method) $_facts_install epel-release
fi
eval $(get_escalation_method) $_facts_install bash tar gzip unzip xz 1>/dev/null
{{ else }}
echo "Platform: not found" >2
echo "This platform is unsupported." >2
echo "Please check chezmoi template:" >2
chezmoi execute-template '{{ .chezmoi | toJson }}' >2
return 1
{{ end }}