#!/usr/bin/env bash

. $HOME/.local/bin/my_own/_log
. $HOME/.local/bin/my_own/_gather_facts

# gather facts
eval $(get_package_management_method)
eval $(get_escalation_method) $_facts_update 1>/dev/null

# install
{{ if or (eq "debian" .chezmoi.osRelease.id) (and (.chezmoi.osRelease.idLike) (contains "debian" .chezmoi.osRelease.idLike)) }}
print_script_info "  Distribution: debian"
DEBCONF_NOWARNINGS=yes
eval $(get_escalation_method) $_facts_install bash tar gzip unzip procps-ng xz-utils 1>/dev/null
{{ else if or (contains "centos" .chezmoi.osRelease.idLike) (contains "fedora" .chezmoi.osRelease.idLike) }}
{{ if eq "amzn" .chezmoi.osRelease.id }}
print_script_info "  Distribution: centos/fedora id:amzn"
eval $(get_escalation_method) amazon-linux-extras install epel 1>/dev/null
{{ else }}
print_script_info "  Distribution: centos/fedora"
eval $(get_escalation_method) $_facts_install epel-release 1>/dev/null
{{ end }}
eval $(get_escalation_method) $_facts_install bash tar gzip unzip procps-ng xz 1>/dev/null
{{ else }}
print_script_info_error \
  "  Distribution: not found" \
  "  This platform is unsupported." \
  "  Check chezmoi template:" \
  $(chezmoi execute-template '{{ .chezmoi | toJson }}')
return 1
{{ end }}

log_success "$0 done."
