#!/usr/bin/env bash

# set -e

. $HOME/.local/bin/my_own/_log
. $HOME/.local/bin/my_own/_gather_facts

print_script_info

. $HOME/.asdf/asdf.sh

# install node, npm
asdf plugin-add nodejs || true
asdf install nodejs 16.17.0
asdf global nodejs 16.17.0
##############################################################################
# npm cli tools
##############################################################################
npm install -g \
  tmpin \
  trash-cli empty-trash-cli \
  jjo \
  xlsx-cli \
  json2csv \
  jsondiffpatch \
  daff \
  nb.sh \
  git-cz \
  standard-version \
  terminalizer \
  undollar

# nb completion

log_success "$0 done."

##############################################################################
# memo
##############################################################################
# install thefuck
# for any typo
# pip3 install thefuck


# npm install -g \
  # ttystudio  # record tty and generate gif  python required?
