#!/usr/bin/env bash

set -e

. $HOME/.local/bin/my_own/_gather_facts
. $HOME/.local/bin/my_own/_log

# gather facts
eval $(get_package_management_method)
set +e; eval $(get_escalation_method) $_facts_update 1>/dev/null ; set -e

# install
{{ if or (eq "debian" .chezmoi.osRelease.id) (and (.chezmoi.osRelease.idLike) (contains "debian" .chezmoi.osRelease.idLike)) }}
print_script_info "  Distribution: debian"
DEBCONF_NOWARNINGS=yes
eval $(get_escalation_method) $_facts_install bash tar gzip unzip xz-utils 1>/dev/null
{{ else if contains "centos" .chezmoi.osRelease.idLike }}
print_script_info "  Distribution: centos"
if [ -x "$(command -v amazon-linux-extras)" ]; then
  eval $(get_escalation_method) amazon-linux-extras install epel
else
  eval $(get_escalation_method) $_facts_install epel-release
fi
eval $(get_escalation_method) $_facts_install bash tar gzip unzip xz 1>/dev/null
{{ else }}
print_script_info_error \
  "  Distribution: not found" \
  "  This platform is unsupported." \
  "  Check chezmoi template:" \
  $(chezmoi execute-template '{{ .chezmoi | toJson }}')
return 1
{{ end }}

log_success "$0 done."
