# proxy scheme and authority example
# if uses proxy_switch, fill variables and rename this file to "proxy.env.orig"
# https://www.rfc-editor.org/rfc/rfc3986#section-3
# e.g. HTTP_PROXY_SCHEME_AUTHORITY="http://username:password@proxy.net:8080"
HTTP_PROXY_SCHEME_AUTHORITY=""
HTTPS_PROXY_SCHEME_AUTHORITY=""
FTP_PROXY_SCHEME_AUTHORITY=""
NO_PROXY_HOST="127.0.0.1,localhost,${HOSTNAME}"

http_proxy=$HTTP_PROXY_SCHEME_AUTHORITY
HTTP_PROXY=$HTTP_PROXY_SCHEME_AUTHORITY
https_proxy=$HTTPS_PROXY_SCHEME_AUTHORITY
HTTPS_PROXY=$HTTPS_PROXY_SCHEME_AUTHORITY
ftp_proxy=$FTP_PROXY_SCHEME_AUTHORITY
FTP_PROXY=$FTP_PROXY_SCHEME_AUTHORITY
no_proxy=$NO_PROXY_HOST
NO_PROXY=$NO_PROXY_HOST
